body{
    background-image: url(bg.jpg);
    background-size: cover;
}
#tv {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
  }
  #tvscreen {
    background-image: url('TV.png');
    background-size: cover;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  }
  #player {
    position: absolute;
    top: 47.5%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    width: 65.6%;
    height: 65.6%;
  }
  #text{
    color: white;
    font-family: Kilo;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    position: relative;
  }
  @font-face {
    font-family: Kilo;
    src: url(Kilo.otf) format("opentype");
  }